.DS_Store
__pycache__/
*.py[cod]

.venv/
.mplconfig/

data/*.csv
data/*.gz
data/*.zip
data/*.parquet
data/*.pkl
credit_risk_pd/
models/*.pkl
models/*.joblib
models/*.json
models/*.ubj
outputs/
results/

!.gitkeep
